---
export const prerender = false;

import CenteredLayout from "../layouts/CenteredLayout.astro";
import Checkout from "../components/checkout";

import products from "../assets/products.json";
const { id } = Astro.params;

const product = products.find((x) => x.id == id);
if (!product && !import.meta.env.DEV) Astro.redirect("https://kiwify.com.br");

const foundProduct = product as (typeof products)[0];
---

<CenteredLayout>
  <title slot="head">{foundProduct.name}</title>
  <Checkout client:load product={foundProduct} />
</CenteredLayout>

<script is:inline src="https://sdk.mercadopago.com/js/v2"></script>
