---
import Checkout from '../components/Checkout.astro';
import CenteredLayout from '../layouts/CenteredLayout.astro';

import product from '../assets/product.json';
---

<CenteredLayout>
	<title slot="head">{product.name}</title>
	<Checkout {...product} />
</CenteredLayout>
