---
import CenteredLayout from '../layouts/CenteredLayout.astro';
import Checkout from '../components/Checkout';

import product from '../assets/product.json';
---

<CenteredLayout>
	<title slot="head">{product.name}</title>
	<Checkout client:load {...product} />
</CenteredLayout>
