---
import Input from './Input.tsx';
 
interface Props {
	name: string;
	image: string;
}

const { name, image } = Astro.props;
---

<div class="flex flex-col gap-4">
	<!-- The product headline infos -->
	<div class="flex items-center gap-4">
		<img class="w-40 aspect-square rounded" src={image} />
		<span class="text-2xl font-bold">{name}</span>
	</div>
	<!-- The billing and payment infos -->
	<div class="flex flex-col gap-2 bg-white rounded p-4 border border-zinc-300 shadow">
		<Input name='Nome completo' formatter='empty' client:load />
		<Input name='Email' formatter='email' client:load />
		<Input name='Confirmar email' formatter='email' client:load />
		<div class="flex gap-2">
			<Input name='CPF' formatter='cpf' client:load />
			<Input name='Celular com DDD' formatter='phone' client:load />
		</div>
	</div>
</div>
