---
interface Props {
   formatter: "empty" | string;
}
---

<custom-input data-formatter={Astro.props.formatter}>
   <div class="relative">
      <input
         class="w-full h-full px-3 py-2 border rounded peer focus:pt-5 valid:pt-5 duration-100"
         required
         type="text"
      />
      <label
         class="left-0 top-0 px-3 py-2 absolute text-sm peer-focus:text-xs peer-valid:text-xs duration-100"
      >
         Nome Completo
      </label>
   </div>
</custom-input>

<script>
   class CustomInput extends HTMLElement {
      connectedCallback() {
         const input = this.querySelector(`input`) as HTMLInputElement;
         const label = this.querySelector(`label`);

         input &&
            input.addEventListener(`input`, () => {
               
            });
      }
   }

   customElements.define(`custom-input`, CustomInput);
</script>
