---
import background from '../assets/background.svg';
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<slot name="head">
	</head>
	<body class="bg-zinc-100">
		<div class="py-8 w-full h-full flex items-center justify-center">
			<slot />
		</div>
		<img class="blur-lg opacity-35" src={background.src} />
	</body>
</html>
